.gym-menu-container {
  display: flex;
  flex-direction: column;
  width: 20vw;
  justify-content: start;
  padding-top: 4.537vh;
  align-items: center;
}
.swatch-container {
  max-height: 71.55vh;
  width: 100%;
}