.battlefield-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/background.png");
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.battlefield-status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20vh;
}

.battlefield-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 80vh;
}

.KO-icon-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 4px 5px black;
  z-index: 10;
}

.KO-icon-inner {
  display: flex;
  margin: 5px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.KO-text {
  color:red;
  font-size: 64px;
  font-style: bold;
  padding: 3px;
}

.character-container {
  padding-top: 21vw;
}