@font-face {
  font-family: 'Kenny';
  font-style: normal;
  font-weight: normal;
  src:
    font_url(Kenney-Future)
}

.battle-box-container {
  display: flex;
  height: 120px;
  width: 60vw;
  margin-top: 10px;
  margin-bottom: 27px;
}

.battle-box-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  width: inherit;
  background-color: #778899;
  border-radius: 4px;
  border: 5px solid #5d6e80;
  box-shadow: 0 10px #53606d;
  text-shadow: 0 -1px #53606d;
  outline: none;
}

.battle-box-content-winner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  width: inherit;
  background-color: greenyellow;
  border-radius: 4px;
  border: 5px solid rgb(120, 199, 2);
  box-shadow: 0 10px rgb(120, 199, 2);
  text-shadow: 0 -1px rgb(120, 199, 2);
  outline: none;
}

.battle-box-content-loser {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  width: inherit;
  background-color: #ee3253;
  border-radius: 4px;
  border: 5px solid #bb1836;
  box-shadow: 0 10px #bb1836;
  text-shadow: 0 -1px #bb1836;
  outline: none;
}

.history-battles {
  height: inherit;
  width: inherit;
  outline: none;
  display: flex;
}

.current-battles {
  height: inherit;
  width: inherit;
  outline: none;
  display: flex;
}

.bbox-username {
  font-family: 'Kenny';
  font-size: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.versus {
  height: 80%;
}

.complete-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffe70b;
  width: 100%;
}

.complete-box:hover {
  background-color: salmon;
  text-shadow: 0 -3px #ffe70b;
}

.complete-message {
  font-family: 'Kenny';
  font-size: 120px;
  padding-left: 18px;
}

.waiting-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffe70b;
  width: 100%;
}

.waiting-message {
  font-family: 'Kenny';
  font-size: 100px;
}

.battle-box-center-spot {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.battle-box-center-spot-text {
  font-family: 'Kenny';
}

.battle-box-center-spot-text-solo {
  font-family: 'Kenny';
  font-size: 58px;
  text-align: center;
  color: greenyellow;
}

.challenge-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  width: inherit;
  background-color: #778899;
  border-radius: 4px;
  border: 5px solid #5d6e80;
  box-shadow: 0 10px #53606d;
  text-shadow: 0 -1px #53606d;
  outline: none;
}

.challenger-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.challenge-buttons {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.accept-button {
  font-family: 'Kenny';
  font-size: 28px;
  background-color: greenyellow;
  color: rgb(0, 0, 0);
  text-align: center;
  height: 75px;
  width: 13vw;
  border-radius: 4px;
  text-shadow: 0 -1px rgb(120, 199, 2);
  border: 4px solid rgb(120, 199, 2);
  box-shadow: 0 10px rgb(120, 199, 2);
  margin-bottom: 20px;
  outline: none;
  margin-right: 20px;
}

.accept-button:hover {
  box-shadow: 0 8px rgb(120, 199, 2);
  transform: translateY(2px);
}

.accept-button:active {
  box-shadow: 0 1px rgb(120, 199, 2);
  transform: translateY(7px);
}

.deny-button {
  font-family: 'Kenny';
  font-size: 28px;
  background-color: #ee3253;
  color: rgb(0, 0, 0);
  text-align: center;
  height: 75px;
  width: 13vw;
  border-radius: 4px;
  text-shadow: 0 -1px #bb1836;
  border: 4px solid #bb1836;
  box-shadow: 0 10px #bb1836;
  margin-bottom: 20px;
  outline: none;
  margin-right: 20px;
}

.deny-button:hover {
  box-shadow: 0 8px #bb1836;
  transform: translateY(2px);
}

.deny-button:active {
  box-shadow: 0 1px #bb1836;
  transform: translateY(7px);
}