@font-face {
  font-family: 'Kenny';
  font-style: normal;
  font-weight: normal;
  src:
    font_url(Kenney-Future)
}

.battle-box-container {
  display: flex;
  height: 120px;
  width: 60vw;
  margin-top: 10px;
  margin-bottom: 25px;
}

.battle-box-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  width: inherit;
  background-color: #778899;
  border-radius: 4px;
  border: 5px solid #5d6e80;
  box-shadow: 0 10px #53606d;
  text-shadow: 0 -1px #53606d;
  outline: none;
}

.bbox-username {
  font-family: 'Kenny';
  font-size: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.versus {
  height: 100%;
}

.complete-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: salmon;
  width: 100%;
}

.complete-box:hover {
  background-color: rgb(255, 231, 11);
  text-shadow: 0 -3px salmon;
}

.complete-message {
  font-family: 'Kenny';
  font-size: 120px;
}