


.daybox-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 8vh;
  width: 90%;
  border: 3px solid #53606d;
  box-shadow: 0 5px #53606d;
  background-color: #778899;
  padding: 8px 12px;
  margin-bottom: 11px;
  outline: none;
}

.daybox-date {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Kenny';
  font-size: 15px;
  height: 30%;
}

.daybox-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .daybox-calories {
    color: greenyellow;
    font-size: 34px;
    text-shadow: 0 -1px #53606d;
    font-family: 'Kenny';
  }
  .daybox-steps {
    color: #d0b400;
    font-size: 34px;
    text-shadow: 0 -1px #53606d;
    font-family: 'Kenny';
  }
}

.daybox-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .daybox-calories-label {
    padding-left: 51px;
    color: black;
    font-size: 16px;
    text-shadow: 0 -1px #53606d;
    font-family: 'Kenny';
  }
  .daybox-steps-label {
    padding-right: 8px;
    color: black;
    font-size: 16px;
    text-shadow: 0 -1px #53606d;
    font-family: 'Kenny';
  }
}