@font-face {
  font-family: 'Kenny';
  font-style: normal;
  font-weight: normal;
  src:
    font_url(Kenney-Future)
}

.graph {
  transform: scaleX(1.1);
  padding-left: 20px;
}

.graph-series {
  margin-top: 60px;
}


.y-axis {
  font-family: 'Kenny';
  font-size: 27px;
}

.x-axis {
  font-family: 'Kenny';
  font-size: 32px;
}
