.navmenu {
  display: flex;
  flex-direction: column;
  width: 20vw;
  justify-content: start;
  padding-top: 4.537vh;
  align-items: center;
}
.username {
    margin-right: auto;
    margin-left: auto;
    font-family: 'Kenny';
    font-size: 3.5em;
    color: #d0b400;
    margin-bottom: 1em;
}
