.navmenu {
  display: flex;
  flex-direction: column;
  width: 20vw;
  .username {
    margin-right: auto;
    margin-left: auto;
    font-family: 'Kenny';
    font-size: 3.5em;
    color: #d0b400;
    margin-bottom: 1em;
  }
}
