.progress-bar {
  position: relative;
  height: 40px;
  border-radius: 8px;
  border: 10px solid rgba(0, 0, 0, 0.76);
  box-shadow: 0 8px 6px -6px black;
}

.filler {
  background: #2E86AB;
  background-image: url("https://www.transparenttextures.com/patterns/paven.png");
  height: 100%;
  border-radius: inherit;
  transition: width 1.5s ease-in;
}

.filler--calories {
  background: #2E86AB;
  background-image: url("https://www.transparenttextures.com/patterns/paven.png");
  height: 92%;
  border-radius: inherit;
  border: 1px solid rgba(20, 20, 20, 0.781);
  transition: width 1.9s ease-in;
  box-shadow: -3px 2px 5px 6px rgba(0, 0, 0, 0.918);
}






