.progress-bar-container {
  margin-bottom: 1em;
  label {
    font-family: "Kenny";
  }
}

.progress-bar {
  position: relative;
  height: 40px;
  border-radius: 5px;
  border: 10px solid rgba(0, 0, 0, 0.76);
  box-shadow: 0 8px 6px -6px black;
  z-index: 2;
}

.status-area .progress-bar {
  width: 400px;
}

.filler {
  height: 100%;
  border-radius: 2px;
  border: 1px solid rgba(20, 20, 20, 0.781);
  z-index: 0;
  position: absolute;
  width: 100%;
}

.filler-increment {
  height: 100%;
  float: left;
}

.steps {
  height: 100%;
  width: 100%;
  height: inherit;
  z-index: 1;
}

.current {
  background: orange;
  width: 10px
}

.goal {
  position: relative;
  background: orange;
  width: 10px;
  height: 40px;
}

.done {
  background: orange;
  width: 10px
}

